<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CSV-Import</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <style>
            header {
                font-family: 'Open Sans', sans-serif;
                background-color: #F1F1F1;
                display: flex;
                padding-left: 20px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
            } 
        </style>
    </head>

<body>

  {% load static %}
  <img src="{% static 'import.jpg' %}" alt="Import">

  <br>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Importieren</button>
  </form>


  Die Preislisten für den Import müssen folgenden Aufbau haben:
  <div style="text-indent:10px;">- Anordung</div>
  <div style="text-indent:20px;">1. Artikelnummer</div>
  <div style="text-indent:20px;">2. Kategorie/Sortiment</div>
  <div style="text-indent:30px;">- Obst</div>
  <div style="text-indent:30px;">- Gemüse</div>
  <div style="text-indent:30px;">- Frischware</div>
  <div style="text-indent:30px;">- Sonstiges</div>
  <div style="text-indent:30px;">- Trockenware</div>
  <div style="text-indent:20px;">3. Artikelname</div>
  <div style="text-indent:20px;">4. Preis [€]</div>
  <div style="text-indent:20px;">5. Typ [kg/Stk]</div>
  <div style="text-indent:10px;">- Separator = ";"</div>
  <br>
  z.B.
  <br><br>
  153060;Obst;Anbruch   Bananen           DO;2.5;Kg<br>
  152049;Obst;Apfel Elstar Franken    BY;3.8;Kg<br>
  152022;Obst;Apfel Santana  Franken  BY;3.5;Kg<br>
  153040;Obst;Bananen             EC;2.7;Kg<br>
  153314;Obst;Birne Abate 60/65           IT;4;Kg<br>
  158413;Obst;Granatäpfel Acco 14er       ES;1.4;Stk<br>
  158430;Obst;Kaki  Tone Wase 22-28       ES;6.3;Kg<br>
  156052;Obst;Mango Osteen   12er         ES;2.1;Stk<br>
  180040;Obst;Medjool Datteln  1kg        IL;16.9;Kg<br>
  155672;Obst;Trauben Crimson rot kernlos IT;6.6;Kg<br>
  159020;Obst;Zitronen grün 3-5           IT;3.7;Kg<br>

</body>