
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page_membername }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <style>
            header {
                font-family: 'Open Sans', sans-serif;
                background-color: {{ page_color }};
                display: flex;
                padding-left: 20px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
            } 
            .unvisible {
                display: none;
            }
        </style>
    </head>

<body>
    <header>
        <h1>
        [{{ Nr_id }}]
        &nbsp;
        {{ page_membername }} 
        &nbsp;
        (Summe: {{ page_sum }} €)
        </h1>
    </header>

    <form>
        <br>
        &nbsp;
        <label for="sel_frischware">Frischware</label>&nbsp;&nbsp; 
        <select id="sel_frischware" name="sel_frischware" onchange="Wert_aus_Preisliste_holen('sel_frischware')">
            <option value="" selected disabled hidden>Bitte Auswählen</option>
            {% for row in preise_frischware %}
                <option value="{{ row.price }}">[{{ row.type }}] {{ row.name }} - {{ row.price }} €</option>
            {% endfor %}
        </select>    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        <label for="sel_gemuese">Gemüse</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="sel_gemuese" name="sel_gemuese" onchange="Wert_aus_Preisliste_holen('sel_gemuese')">
            <option value="" selected disabled hidden>Bitte Auswählen</option>
            {% for row in preise_gemuese %}
                <option value="{{ row.price }}">[{{ row.type }}] {{ row.name }} - {{ row.price }} €</option>
            {% endfor %}
        </select>  
        <br><br>
        &nbsp; 
        <label for="sel_obst">Obst</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="sel_obst" name="sel_obst" onchange="Wert_aus_Preisliste_holen('sel_obst')">
            <option value="" selected disabled hidden>Bitte Auswählen</option>
            {% for row in preise_obst %}
                <option value="{{ row.price }}">[{{ row.type }}] {{ row.name }} - {{ row.price }} €</option>
            {% endfor %}
        </select>  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        <label for="sel_fleisch">Fleisch</label>&nbsp;&nbsp;
        <select id="sel_fleisch" name="sel_fleisch" onchange="Wert_aus_Preisliste_holen('sel_fleisch')">
            <option value="" selected disabled hidden>Bitte Auswählen</option>
            {% for row in preise_fleisch %}
                <option value="{{ row.price }}">[{{ row.type }}] {{ row.name }} - {{ row.price }} €</option>
            {% endfor %}
        </select>    
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <label for="sel_getraenke">Getränke</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="sel_getraenke" name="sel_getraenke" onchange="Wert_aus_Preisliste_holen('sel_getraenke')">
            <option value="" selected disabled hidden>Bitte Auswählen</option>
            {% for row in preise_getraenke %}
                <option value="{{ row.price }}">[{{ row.type }}] {{ row.name }} - {{ row.price }} €</option>
            {% endfor %}
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        <label for="sel_tiefkuehl">Tiefkühl</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="sel_tiefkuehl" name="sel_tiefkuehl" onchange="Wert_aus_Preisliste_holen('sel_tiefkuehl')">
            <option value="" selected disabled hidden>Bitte Auswählen</option>
            {% for row in preise_tiefkuehl %}
                <option value="{{ row.price }}">[{{ row.type }}] {{ row.name }} - {{ row.price }} €</option>
            {% endfor %}
        </select>     
    </form>
    <hr>
    <form onsubmit="eingabe_return(); return false;">
        &nbsp;&nbsp;
        <label for="artikel_manual">Artikel</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="artikel_manual" name="textfeld" maxlength="200">
        &nbsp;&nbsp;&nbsp;
        <label for="stk_kg_manual">Menge in kg/Stk:</label>
        <input type="number" id="stk_kg_manual" name="stk_kg" step="0.001" min="0" required>
        &nbsp;&nbsp;&nbsp;
        <label for="preis_manual">Preis in €:</label>
        <input type="number" id="preis_manual" name="stk_kg" step="0.01" min="-100" required>
        <input type="submit" class="unvisible">
    </form>
    <br>
    <div style="text-indent:125px;">
        <button onclick="hinzufuegen()">Hinzufügen</button>&nbsp;&nbsp;
        <button onclick="loeschen()">Löschen</button>&nbsp;&nbsp;
        <button onclick="Summe()">Summe</button>
    </div>
    <hr>
    <table id="einkaufsliste">
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Datum</th>
                <th>Name</th>
                <th>Menge [kg/Stk]</th>
                <th>Einzelpreis [€]</th>
                <th>Gesamtpreis [€]</th>
        </thead>

        {% for row in all_items %}
        
            <tbody>

                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.created_at }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.amount }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.calculate_total }}</td>
                </tr>
            </tbody>
        
        {% endfor %}

    </table>

    <script src="{% static 'scripts/functions.js' %}"></script>

    <script>
        let token = '{{ csrf_token }}';

        function delay_reload(time) {
            setTimeout(function() {
                location.reload();
            }, time);
        }

        function hinzufuegen() {
            addItemManually2('{{ Nr_id }}');
            setTimeout(function() {
                sum('{{ Nr_id }}');
            }, 1000);
            delay_reload(1000)
        }

        function loeschen() {
            deleteItem('{{ Nr_id }}')
            setTimeout(function() {
                sum('{{ Nr_id }}');
            }, 1000);
            delay_reload(1000)
        }

        function eingabe_return() {
            addItemManually2('{{ Nr_id }}');
            setTimeout(function() {
                sum('{{ Nr_id }}')
            }, 1000);
            delay_reload(1000)
        }

        function Summe() {
            sum('{{ Nr_id }}');
            setTimeout(location.reload(), 400);
        }

        function getFormattedDate() {
            var now = new Date();
            var year = now.getFullYear().toString().substr(-2); // Letzte zwei Ziffern des Jahres
            var month = ('0' + (now.getMonth() + 1)).slice(-2); // Führende Null für Monat
            var day = ('0' + now.getDate()).slice(-2); // Führende Null für Tag

            return year + month + day + '_';
        }

        function displayDateStamp() {
            var dateStamp = getFormattedDate();
            var membername = '{{ page_membername }}';

            // Setze den Datumsstempel und Mitgliedsname im <title>-Element
            document.title = dateStamp + membername;
        }

        function Wert_aus_Preisliste_holen(Selektor) {
            var selectedIndex = document.getElementById(Selektor).selectedIndex;
            var ausgewaehlterText = document.getElementById(Selektor).options[selectedIndex].text;
            let string1 = ausgewaehlterText.split(" - ");   // String aufteilen (um Artikelname zu erhalten)
            let string2 = string1[1].split(" €");           // String aufteilen (um Preis in € zu erhalten)
            console.log(string1[0]); // Debugging
            console.log(string2[0]); // Debugging

            document.getElementById("artikel_manual").value = string1[0];   // Artikelname schreiben in Eingabe-Element
            document.getElementById("preis_manual").value = string2[0];     // Preis in Eingabeelement schreiben

            document.getElementById("stk_kg_manual").focus();   // Um die Benutzereingabe zu erleichtern, wird nach dem Auswählen eines Artikels das Mengen-Feld in den Fokus gesetzt
        }
    </script>

</body>

<body onload="displayDateStamp()">
    <p><span id="dateStamp"></span></p>
</body>

</html>
